@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

html {
  width: 100vw;
  height: 100vh;
  min-width: 320px;

  margin: 0px;
  padding: 0px;

  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: normal;

  box-sizing: border-box;
}

html * {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;

  box-sizing: border-box;

  cursor: default;
}

body {
  width: 100%;
  height: 100%;

  margin: 0px;
  padding: 1rem;

  font-family: 'OpenSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;

  margin: 0px;
  padding: 0px;

  overflow: auto;

  scroll-behavior: smooth;
}

#root * {
  scroll-behavior: smooth;
}
